.customer-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.customer-container {
  display: flex;
  flex: 1;
}


/* LEFT SIDE */
.sidebar {
  width: 20%;
  background-color: #111;
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar button {
  padding: 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #222;
  color: white;
  border-radius: 6px;
  transition: 0.3s;
}

.sidebar button:hover {
  background-color: #ff9800;
}

.logout-btn {
  margin-top: auto;
  background-color: crimson;
}

/* RIGHT SIDE */
.services-section {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 50px;
  background-color: #f5f5f5;
  align-content: center;
}

.service-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s;
  text-align: center;
}

.service-card:hover {
  transform: scale(1.05);
}

.service-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.service-card h3 {
  padding: 15px;
}
